@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

body {
  font-family: 'Barlow', sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.btn {
  white-space: pre; /* avoiding line break */
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
label {
  cursor: pointer;
}
.btn-blue-grad {
  position:relative;
  padding: 20px 40px;
  /* height: 70px; */
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(96.48deg, #1562b6 8.17%, #4c2dcb 93.07%);
  border-radius: 3px;
  transition: 0.2s;
}
.btn-blue-grad:after{
  display:block;
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background:linear-gradient(96.48deg, #4c2dcb 8.17%, #1562b6 63.07%);
  z-index:10;
  opacity:0;
  border-radius:3px;
  transition:.2s ease;
}
.btn-blue-grad:hover:after{
  opacity:1;
}
.bg-blue-grad {
  background: linear-gradient(96.48deg, #1562b6 8.17%, #4c2dcb 93.07%);
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  position: relative;
}
.section::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 65%;
  height: 100%;
}
.section::after {
  position: absolute;
  right: 0;
  top: 0;
  content: '';
  width: 35%;
  height: 100%;
  z-index: 0;
}
.bg-blue-grad {
  background: linear-gradient(129.96deg, #1562b6 15.93%, #3b18c6 90.61%);
  z-index: 0;
}
.section .content {
  position: relative;
  z-index: 1;
}
img {
  max-width: 100%;
}
.navbar-nav {
  margin-left: 70px;
}
.text-outline {
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
}
.text-grey {
  color: #777777 !important;
}
.bg_lightgrey {
  background-color: #f0f1f2;
}
/* .mx-none{
    max-width: none;
} */
.btn,
a,
input,
textarea,
section {
  box-shadow: none !important;
}
.text-blue {
  color: #3b18c6 !important;
}
.header {
  margin-top: 65px;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
p {
  font-size: 16px;
}
.white {
  color: white;
}
.blue {
  color: #3b18c6;
}
.grey {
  color: #c4c4c4;
}

.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-80 {
  margin-top: 80px;
}
.px12 {
  font-size: 12px;
}
.px14 {
  font-size: 14px;
}
.px18 {
  font-size: 18px;
}
.px30 {
  font-size: 30px;
}
.px40 {
  font-size: 40px;
}
.lh-1 {
  line-height: 1;
}

.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-100 {
  padding-top: 100px;
}
.pl-150 {
  padding-left: 150px;
}
.pr-50 {
  padding-right: 50px;
}

.grey-dark {
  color: #898989;
}
.bg-grey {
  background: #f0f1f2;
}
.bg-grey-dark {
  background: #c8c5c5;
}
