/* ----------------------------------------------------------------
	Responsive CSS
-----------------------------------------------------------------*/

@media (max-width: 1600px) {
  .custom_parts .left_content .content {
    padding: 20px 100px;
  }
    .section_2 .text_content{
      padding: 50px !important;
    }
    .section_2 .text_content p{
      margin-bottom: 120px !important;
    }

    .blog .slider_content .slide-content{
      padding-left:90px !important;
    }
}

@media (min-width: 1450px) {
  /* .section_2 .video_section video{
		width: 100%;
	} */
}

@media (min-width: 991px) and (max-width: 1440px) {
}

@media (max-width: 1440px) {
  .section_1 .section_title{
    font-size: 50px !important;
  }
  .section_2 .text_content h2{
    font-size: 50px !important;
  }
  .drone_info_box .section_title{
     font-size: 50px !important;
  }
  .drone_section h2{
    font-size: 42px !important;
  }
  .completed_drones .drone_section .name{
    font-size:25px !important;
  }
    .section_2 .text_content{
      padding: 35px !important;
    }
    .section_2 .text_content p{
      margin-bottom: 150px !important;
    }
  .header_section .hero_title {
    font-size: 55px;
    line-height: 51px;
  }
  .header_section .hero_para {
    margin: 16px 0;
    font-size: 18px;
  }
  .header_section .btn {
    padding: 14px 28px;
  }
  .btn {
    font-size: 18px;
  }
  .header_section .arrow_down {
    margin: -40px auto 0;
    font-size: 19px;
    width: 50px;
    height: 50px;
  }
  .how_it_works .section_title {
    font-size: 50px;
    padding-top: 6px;
    margin-bottom: 30px;
  }
  .how_it_works {
    padding: 80px 0;
  }
  .how_it_works .head {
    font-size: 18px;
    margin: 12px 0 5px;
  }
  .section_title {
    font-size: 50px;
    padding-top: 8px;
    margin-bottom: 14px;
  }
  .drone_section .name {
    font-size: 40px;
    margin: 9px 0 20px;
  }
  .drone_info_box {
    padding: 80px 0;
  }
  .drone_info .drone_features img {
    margin-right: 18px;
  }
  .drone_info .drone_features p {
    font-size: 18px;
  }
  .drone_info .view_detail {
    margin-top: 40px;
    font-size: 18px;
  }
  .drone_section {
    margin-bottom: 80px;
  }
  .our_blog .blog .blog_title {
    font-size:22px !important;
  }
  footer .section_title {
    font-size: 60px;
  }
  footer {
    padding: 70px 0;
  }
  footer .subscribe_newlatter .input {
    margin-top: 8px;
    height: 58px;
    padding: 13px;
  }
  .product_header .hero_title {
    font-size: 45px;
    padding-top: 7px;
  }
  .cash_back {
    top: 20px;
    width: 180px;
  }
  nav .nav-link {
    font-size: 15px;
    margin-right: 20px;
  }
  .custom_parts .drone_catagory label {
    width: 200px;
  }
  .custom_parts .left_content .content {
    padding: 20px 70px;
  }
  .custom_parts .right_content .heading {
    font-size: 30px;
  }
  .find_product .caption {
    font-size: 10px;
  }
  .custom_parts .drone_catagory.label_outline label {
    width: 200px;
    height: 200px;
  }
  .custom_parts .right_content .content {
    padding: 20px;
  }
  .right_content .total_price h3 {
    font-size: 20px;
  }
  .custom_parts .drone_catagory label h2 {
    font-size: 30px;
  }
  .custom_parts .swiper_btn {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
  .custom_parts .label_outline.outline_sm label {
    width: 150px;
    height: 150px;
    font-size: 16px;
    margin-right: 17px;
  }
  .custom_parts .drone_catagory .title {
    bottom: 9px;
    left: 11px;
  }
  .section_1 .swiper-slide .footer {
    padding: 18px;
  }
  .section_1 .swiper-slide .footer .text {
    font-size: 20px;
    margin-right: 25px;
  }
  .section_2 .text_content {
    padding: 45px;
  }
  .section_2 .text_content h2 {
    font-size: 48px;
    margin-bottom: 18px;
  }
  .section_2 .text_content p {
    font-size: 16px;
    margin-bottom: 80px;
  }

  .custom_parts input + label .option-2 {
    margin-left: 3rem;
  }
    .blog .slider_content .slide-content{
      padding-left:75px !important;
    }
}

@media (max-width: 1366px) {
  .section_1 .section_title{
    font-size: 42px !important;
  }
  .section_2 .text_content h2{
    font-size: 42px !important;
  }
  .drone_info_box .section_title{
     font-size: 42px !important;
  }
    .section_1 .swiper-button-next{
      width: 40px;
      height: 40px;
      right: -20px !important;
    }
    .section_1 .swiper-button-prev{
      width: 40px;
      height: 40px;
      left: 20px !important;
    }
    .our_blog .swiper-button-next{
      width: 40px;
      height: 40px;
      right: -20px !important;
    }
    .our_blog .swiper-button-prev{
      width: 40px;
      height: 40px;
      left: 20px !important;
    }
   .our_blog .blog .blog_title {
    font-size:20px !important;
  }
    .section_2 .text_content p{
      margin-bottom: 130px !important;
    }
     .blog .slider_content .slide-content{
      padding-left:66px !important;
    }
  .blog .scroll-box{
    height:230px !important;
  }
  .blog .blog-item .blog_title{
    font-size:20px !important;
  }
   .blog .blog-item .published_date{
    font-size:13px !important;
  }
  .blog-page .blog-post .post-img{
    height:475px !important;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .completed-builds
    .product_detail_main
    .detail_content
    .browse_product_main
    .price {
    font-size: 14px;
  }

  .build_drone .social-box {
    margin: auto 5px;
  }
  .build_drone .social-box .social-icon {
    padding: 4px 10px;
  }
  .build_drone .social-box .base-icon {
    padding: 4px 7px;
  }
  .build_drone .browse_product_main .column_2 {
    margin-right: 10px;
  }
  .build_drone .browse_product_main .column_2_total {
    margin-right: 10px;
  }
  .build_drone .browse_product_main .column_2_total .caption {
    font-size: 12px;
    line-height: 1;
  }

  .drone_parts {
    height: 100%;
  }
  .drone_parts .social-box {
    width: 60%;
  }

  .custom_parts .tooltip {
    top: -12rem;
  }
}

@media (max-width: 1280px) {
  .navbar-collapse {
    left: 70px;
  }
  nav .nav-link {
    font-size: 15px;
    margin-right: 20px;
  }
  .custom_parts .left_content .content {
    padding: 20px 40px;
  }
  .custom_parts .swiper_btns {
    right: 40px;
  }
  .header_section .hero_title{
    font-size: 60px !important;
  }
  .header_section .text-outline{
    font-size: 90px !important;
  }
  .header_section .hero_para{
    width: 80%;
  }
  .header_section .hero_para br{
    display: none;
  }
    .section_2 .text_content p{
      font-size: 18px; 
      margin-bottom: 60px !important;
    }
  .blog .slider_content .img-box{
    height:450px !important;
  }
  .blog .slider_content .blog_title{
    font-size:33px !important;
  }
}

@media (max-width: 1199.98px) {
  .navbar-nav{
    margin-left: 0 !important;
  }
  .drone_section h2{
    font-size: 35px !important;
  }
  .navbar-collapse {
    position: fixed !important;
    z-index: 999999;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    padding-top: 70px;
    transform: translateX(-100%);
    transition: 0.4s;
  }
  .navbar-collapse.show {
    transform: translateX(0%);
  }
  .navbar-collapse .nav-link {
    display: block;
    color: #000;
    font-size: 25px;
    margin-top: 40px;
    margin-right: 0 !important;
    text-align: center;
  }
  .close_popup {
    position: absolute;
    font-size: 45px;
    color: #000;
    right: 40px;
    top: 10px;
  }
  .product_table .product_detail {
    padding: 12px 10px;
  }
  .custom_parts .left_content .content {
    padding: 20px 30px;
  }
  .custom_parts .drone_catagory {
    padding-right: 0px;
  }
  .custom_parts .drone_catagory label {
    margin-right: 30px;
  }
  .custom_parts .right_content .content {
    padding: 20px;
  }
  .right_content .product_checkout {
    /* flex-direction: column; */
    justify-content: center;
  }
  /* .product_checkout .btn{
		width: 100%;
		margin-left: 0;
		margin-top: 10px;
	} */
  .custom_parts .right_content .heading {
    text-align: center;
  }
  .custom_parts .right_content .content {
    width: 100%;
  }
  .drone_catagory.label_outline label {
    margin-top: 18px;
  }
  .custom_parts .right_content .para {
    text-align: center;
  }
  .right_content .main_content {
    height: auto;
  }
  .right_content .product_checkout {
    justify-content: space-between;
  }

  .completed-builds
    .product_detail_main
    .detail_content
    .browse_product_main
    .price {
    font-size: 18px;
  }
  .completed-builds .section_1 .section_title {
    margin-left: 20%;
  }

  .build_drone .browse_product_main .column_2 {
    margin-right: 10px;
  }
  .build_drone .browse_product_main .column_2_total {
    margin-right: 10px;
  }

  .build_drone_right {
    padding-top: 40px !important;
    margin-top: 40px;
    height: auto;
    padding-bottom: 40px;
  }
  .build_drone .social-box {
    margin: auto auto;
    width: 70%;
  }
  .build_drone .btn-submit {
    width: 30%;
  }

  .saved_drones .drone-box h3 {
    font-size: 25px;
  }

  .drone_parts {
    height: 100%;
  }
  .header_section::before{
    background:none !important;
  }
  .header_section .row{
    display: block;
    padding-right: 0;
  }
  .header_section .header-overlay{
    position: absolute;
    height: 99%;
  }
  .header_section .text-content{
    position: relative;
    z-index: 20;
    padding: 0 !important;
    padding-top: 55px !important;
    padding-left: 80px !important;
    }
    .header_section .blue-overlay{
      background: rgba(21, 98, 182, .2);
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 5;
      top: 0;
    }
    .header_section .hero_title{
      font-size: 50px !important;
    }
    .header_section .text-outline{
      font-size: 70px !important;
    }
    .header_section .btn{
      padding: 16px 20px !important;
    }
    .header_section .arrow_down{
      z-index: 30;
    }
    .header_section .hero_para{
    width: 50%;
  }
  .section_1 .slider_content{
    padding: 0 !important;
    margin-top: 40px;
  }
  .section_1 .swiper{
    padding-left: 0 !important;
  }
  .section_2 .text_content h2{
    font-size: 30px !important;
  }
    .section_2 .text_content p{
        font-size: 16px !important;
    }
  .find_product .col_1{
    width: 8%;
  }
  .find_product .col_2{
    width: 10%;
  }
  .find_product .col_3{
    width:48%;
  }
  .find_product .col_4{
    width:27%;
  }
  .product_detail_main .detail_content{
    margin-left:0 !important;
  }
  .blog .swiper-pagination{
    right:39% !important;
  }
    .blog .slider_content .img-box{
    height:400px !important;
  }
  .blog .fpv-sidebar{
    margin-top:60px;
    padding: 5px 80px !important;
  }
  .blog .title-text{
    font-size:25px !important;
    margin-bottom:30px !important;
  }
  .blog .slider_sm .blog_title{
    font-size:18px;
    font-weight:500;
  }
  .blog .blog-most{
    margin-top:40px;
  }
  .blog .blog-recommended:after{
    margin-top:40px;
    display:block;
    content:'';
    height:1px;
    width:100%;
    background:#777777;
  }
  .blog .blog-most:after{
    margin-top:60px;
    display:block;
    content:'';
    height:1px;
    width:100%;
    background:#777777;
  }
  .blog-most .blog-most-item img{
    width:90px;
  }
  .blog .pagination{
    margin-top:40px !important;
  }
  .blog .explore-item .category{
    left:35% !important;
  }
    .blog .scroll-box{
    height:275px !important;
  }
   .blog-page .blog-post .post-img{
    height:405px !important;
  }
   .blog-page .blog-post .blog_title{
    font-size:33px !important;
     line-height:1 !important;
  }
   .blog-page .post-pagination .blog-title{
     font-size:16px;
   }
   .blog-page form .buy_now{
     font-size:16px;
   }
  .blog-page .share-section{
    top:150px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .completed-builds .product_detail_main .detail_content .product_title {
    margin-top: 40px;
  }

  .custom_parts .tooltip {
    top: -12rem;
  }
}

@media (max-width: 992px) {
  .section::before {
    width: 100%;
    z-index: 1;
  }
  .header_section .btn {
    padding: 12px 25px;
    margin-bottom: 50px;
  }
  .our_blog .blog{
    text-align: center;
  }
  .drone_section .drone-reverse{
    display: flex;
    flex-direction: column-reverse;
  }
  .drone_section{
    margin-bottom: 0;
  }
  .mt-70{
    margin-top: 70px;
  }
  .section_2{
    height: 100% !important;
    line-height: 0 !important;
  }
  .section_2 .text_content{
    line-height: 1 !important;
    text-align: center;
  }
  .section_2 .text_content h2{
    font-size: 42px !important;
  }
    .section_2 .text_content .para{
      width: 100% !important;
    }
    .section_2 .row{
      flex-direction: column-reverse;
    }
      .drone_info_box{
    background: white !important;
  }
  .drone_section::after {
    width: 100%;
  }
  footer .box {
    margin-bottom: 30px;
  }
  .detail_content .product_title {
    margin-top: 60px;
  }
  .part_modal {
    padding-top: 100px;
  }
  .section_1 {
    padding: 68px 0 85px;
  }
  .section_title {
    font-size: 42px;
    padding-top: 8px;
    margin-bottom: 34px;
  }
  .header_section .text-content {
    padding-left: 70px;
  }
 .section_2 .btn-blue-grad{
   display: inline-block !important;
   padding: 20px 50px !important;
 }
  .completed-builds .section_1 .section_title {
    margin-left: 0;
  }
  .completed-builds .product_detail_main .swiper-fullscreen {
    display: none;
  }

  /*------------- Build Now Page -------------*/

  .build_now {
    padding-top: 120px;
    height: 100%;
  }
  .build_now .build-now-img {
    margin-top: 80px;
  }

  .build_drone .container {
    max-width: 100% !important;
  }
  .build_drone .col-xl-9 {
    padding-top: 40px;
  }
  .build_drone .browse_product_main .browse-container {
    padding: 0;
  }
  .build_drone .browse_product_main .product_icon {
    margin-right: 0;
    width: 65px;
    height: 65px;
    padding-top: 7px;
  }
  .build_drone .browse_product_main .product_detail {
    width: 65px;
    height: 65px;
    padding: 10px 10px;
  }
  .build_drone .browse_product_main .column_1 {
    width: 65%;
  }
  .build_drone .browse_product_main .column_2 {
    width: 17.5%;
  }
  .build_drone .browse_product_main .column_4 {
    width: 17.5%;
  }
  .build_drone .browse_product_main .column_1_total {
    width: 65%;
  }
  .build_drone .browse_product_main .column_2_total {
    width: 17.5%;
  }
  .build_drone .browse_product_main .column_4_total {
    width: 17.5%;
  }

  .saved_drones {
    height: 100%;
  }
  .saved_drones .fpv-drones {
    padding-bottom: 80px;
    padding-top: 60px;
  }
  .saved_drones .fpv-drones .col-lg-4 {
    margin-top: 40px;
  }
  .saved_drones .fpv-drones .row {
    margin-top: 0 !important;
  }
  .saved_drones .drone-box i {
    margin-left: 20px;
  }

  .drone_parts .drone-social {
    justify-content: flex-start !important;
  }
  .drone_parts .social-box {
    margin: auto 0;
    width: 50%;
  }
  .blog .slider_content .swiper-button-next, .blog .slider_content .swiper-button-prev{
    top:31% !important;
  }
  .blog .slider_sm .swiper-button-next, .blog .slider_sm .swiper-button-prev{
    top:50% !important;
  }
  .blog .slider_content .slide-content{
    padding-left:0 !important;
    padding:40px !important;
    padding-bottom:70px !important;
  }
  .blog .slider_content .swiper-pagination{
    bottom: 20px !important;
    left: 25px !important;
  }
  .blog .container{
    max-width: 100% !important;
  }
  .blog .blog-main{
    padding: 60px 0 !important;
  }
   .blog .explore-item .category{
    left:37% !important;
  }
  .blog-page .blog-post .post-content{
    width:100%;
  }
  .blog-page .share-section{
    position:relative !important;
    top:0 !important;
    left:auto !important;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .blog-page .share-section .line{
    margin:0 10px !important;
  }
   .blog-page .share-section .share-text{
     margin-bottom:0px !important;
   }
  .blog-page .share-section .icon-box{
    width:44px !important;
    margin-top:0 !important;
    margin-left:10px !important;
  }
   .blog-page .blog-post .post-content{
    width:100% !important;
  }
   .blog-page .blog-post .post-img{
    height:370px !important;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .completed-builds .product_detail_main .container {
    max-width: 100% !important;
  }
  .completed_drones .drone_section{
    padding: 40px !important;
  }
}

@media (max-width: 800px) {
 
  .custom_parts .form-group .battery {
    display: none;
  }
  .header_section .text-content{
    padding-top: 10px !important;
  }
  .section_1 .swiper-slide .footer .text{
    font-size: 18px !important; 
  }
    .blog .explore-item .category{
    left:30% !important;
  }
  .blog .fpv-sidebar{
    padding: 5px 65px !important;
  }
}

@media (max-width: 768px) {
  .header_section .hero_title{
    font-size: 40px !important;
  }
  .header_section .text-outline{
    font-size: 55px !important;
  }
  .header_section .hero_para{
    margin: 20px 0 !important;
  }
  .header_section .btn{
    margin-bottom: 0;
    padding: 15px !important;
  }
  .header_section .text-content {
    padding-top: 40px !important;
  }
  .section_1 .slider-title{
    padding-left: 7rem !important; 
  }
     .section_1{
    padding: 60px 0 0 !important;
  }
  .parts h3{
    font-size: 21px !important;
  }
  .drone_info_box{
    padding: 60px 0;
    padding-left: 4px !important;
  }
  .parts_drone{
    padding: 60px 10px !important;
  }
  .our_blog{
    padding: 60px;
  }
  .btn {
    font-size: 16px;
  }
  .how_it_works .section_title {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .section_title {
    font-size: 35px;
  }
  .drone_info_box .para {
    line-height: 18px;
    margin: 0;
  }
  .drone_section .name {
    font-size: 30px;
  }
  .drone_section .drone_info {
    padding-left: 0;
  }
  .product_header .hero_title {
    font-size: 35px;
    padding-top: 5px;
  }
  .find_product .header {
    display:none !important ;
  }
  .browse_product_main .find_product .product_detail{
    height: auto;
    flex-wrap:wrap;
    padding: 20px;
  }
  .browse_product_main .product_icon{
    display:none;
  }
  .find_product .product_detail .product-type{
    display: block !important;
    margin-bottom:20px;
  }
  .part_modal .find_product {
    width: 100%;
    overflow: scroll;
  }
  .find_product .column_1{
    width:100%;
    margin-bottom: 20px;
  }
  .find_product .column_2{
    width:auto;
  }
  .find_product .column_3{
    width:auto;
    margin-left: auto;
  }
  .find_product .column_4{
    width:100%;
  }
  .completed-builds .product_detail_main .detail_content .browse_product_main .price{
    font-size:20px;
    display: block ruby;

  }
  .find_product .product_detail .buy_now {
    white-space: pre;
   font-size: 14px;
   width: 100%;
   padding: 5px;
  margin-top: 20px;
    height:auto;
  }
   .blog .fpv-sidebar{
    padding: 5px 45px !important;
  }
}
@media (max-width: 640px) {
    .completed-builds .product_detail_main .container {
    max-width: 100% !important;
    padding: 0 10px;
}
  .section_1 .swiper{
    padding: 0 !important;
  }
  .section_1 .swiper-slide .footer .text{
    font-size: 21px !important;
  }
  .section_1 .slider-title{
    padding-left: 0 !important;
    margin: 0 auto !important;
    width: 80%;
  }
  .header_section .arrow_down{
    width: 55px !important;
    height: 55px !important;
  }
  .parts_drone{
    padding: 100px 10px !important;
  }
  .browse-products .fpv-products .col-sm-12{
    text-align:center;
  }
  .blog .blog-item{
    width:90%;
    margin:20px auto !important;
  }
   .blog .explore-item .category{
    left:38% !important;
  }
  .blog .pagination{
    padding-right:40px !important;
  }
  .blog .slider_sm .swiper-button-next, .blog .slider_sm .swiper-button-prev{
    top:42% !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .completed-builds .fpv-description .nav-tabs .nav-link h4 {
    font-size: 14px;
  }


  .completed-builds
    .product_detail_main
    .browse_product_main
    .browse-container {
    padding: 0;
  }
  .completed-builds
    .product_detail_main
    .browse_product_main
    .header
    .column_1 {
    width: 47%;
  }
  .completed-builds
    .product_detail_main
    .browse_product_main
    .find_product
    .column_2 {
    padding: 5px;
  }
  .completed-builds
    .product_detail_main
    .browse_product_main
    .find_product
    .column_3 {
    padding: 5px;
  }
  .completed-builds
    .product_detail_main
    .browse_product_main
    .find_product
    .column_4 {
    padding: 5px;
  }
  .completed-builds .product_detail_main .browse_product_main .product_icon {
    margin-right: 0;
    width: 68px;
    height: 68px;
    padding: 8px;
  }
  .completed-builds .browse_product_main .product_icon .name {
  font-size: 7px !important;
}
  .completed-builds
    .product_detail_main
    .find_product
    .product_detail
    .close_box {
    margin-left: 20%;
  }
  .completed-builds .product_detail_main .browse_product_main .buy_now {
   padding: 0 5px;
  }

  .build_now {
    height: 100%;
    padding-top: 80px;
  }

  .build_drone .social-box {
    width: 90%;
  }

  .drone_parts .row h2 {
    font-size: 30px;
    white-space: nowrap;
  }
  .drone_parts .social-box {
    width: 50%;
  }
  .header_section .hero_title{
    font-size: 30px !important;
  }
  .header_section .text-outline{
    font-size: 40px !important;
  }
  .header_section .hero_para{
    font-size: 16px !important;
  }
  .header_section .header-overlay{
    height: 98% !important;
  }
}

@media (max-width: 575.98px) {
    .header_section .hero_title{
    font-size: 30px !important;
  }
  .header_section .text-outline{
    font-size: 40px !important;
  }
  .header_section .hero_para{
    margin: 10px 0 !important;
    font-size: 13px !important;
  }
  .header_section .btn{
    margin-bottom: 0;
    padding: 13px !important;
    font-size: 13px !important;
  }
  .header_section .text-content {
    padding-top: 15px !important;
    padding-left: 50px !important;
  }
  .header_section .header-overlay{
    height: 98% !important;
  }
  .swiper-container {
    width: 480px;
  }
  .parts_drone .text-content{
    margin-bottom: 0 !important;
  }
    .parts h3{
    font-size: 17px !important;
  }
  .section_1 .section_title{
    font-size: 38px !important;
  }
.section_2 .text_content{
  padding: 50px !important;
}
  nav .right_content {
    display: none !important;
  }
  nav .navbar-brand {
    padding-left: 18px;
  }
  .product_detail_main .product_table .col {
    justify-content: end !important;
  }
  .product_table .buy_now {
    display: none;
  }
  .product_table .product_detail {
    padding: 12px 18px;
  }
  .product_table .price{
    font-size:16px !important;
  }
  .custom_parts .drone_catagory.label_outline label {
    width: 100% !important;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .custom_parts .swiper_btns {
    right: 30px;
  }
  .custom_parts .drone_catagory {
    flex-direction: column;
  }

  .browse-products .fpv-browse .fpv-filter {
    margin-top: 20px;
  }

  .completed-builds .fpv-description .nav-tabs .nav-link h4 {
    font-size: 14px;
  }
  .completed-builds .product_detail_main .container {
    max-width: 100% !important;
  }
  .completed-builds
    .product_detail_main
    .browse_product_main
    .browse-container {
    padding: 0;
  }
  .completed-builds
    .product_detail_main
    .browse_product_main
    .header
    .column_1 {
    width: 47%;
  }
    .completed-builds
    .product_detail_main
    .browse_product_main
    .find_product
    .header
    .column_1 {
      width: 40%;
    }
  .completed-builds
    .product_detail_main
    .browse_product_main
    .find_product
    .column_2 {
    padding: 5px;
  }
   .completed-builds
    .product_detail_main
    .browse_product_main
    .find_product
    .header
    .column_2 {
      padding-left:20%;
    }
  .completed-builds
    .product_detail_main
    .browse_product_main
    .find_product
    .column_3 {
    padding: 0 10px;
  }
  .completed-builds
    .product_detail_main
    .browse_product_main
    .find_product
    .header
    .column_3 {
      padding-left:8%;
    }
  .completed-builds
    .product_detail_main
    .browse_product_main
    .find_product
    .column_4 {
    padding: 5px;
  }
  .completed-builds .product_detail_main .browse_product_main .product_icon {
    margin-right: 0;
    width: 68px;
    height: 68px;
    padding: 8px;
  }
  .completed-builds .product_detail_main .find_product .product_inner{
    align-items:center;
  }
  .find_product .product_detail .buy_now{
    width: 100%;
    margin-right:0;
  }
  .find_product .column_4{
    width:100%;
    margin-top: 10px;
  }
  .find_product .price{
    font-size:12px;
  }
  .completed-builds .product_detail_main .find_product .product_detail .title {
    font-size: 14px;
  }
   .completed-builds .browse_product_main .product_icon .name {
  font-size: 7px !important;
}

  .build_drone .container {
    padding: 0;
  }
  .build_drone .browse_product_main h2 {
    font-size: 15px !important;
  }
  .build_drone .browse_product_main .buy_now {
    margin-right: 0;
  }
  .build_drone .social-box {
    width: 90%;
  }

  .saved_drones .fpv-drones {
    padding-top: 40px;
  }

  .drone_parts .row h2 {
    font-size: 30px;
    white-space: nowrap;
  }
  .drone_parts .social-box {
    width: 70%;
  }
     .blog .slider_content .img-box{
    height:330px !important;
  }
  .blog .slider_content .swiper-button-next, .blog .slider_content .swiper-button-prev{
    top:27% !important;
  }
    .blog .fpv-sidebar{
    padding: 5px !important;
  }
  .blog-most .blog-most-item img{
    width:110px;
  }
     .blog .explore-item .category{
    left:36% !important;
  }
    .blog .pagination{
    padding-right:30px !important;
  }
    .blog .slider_sm .swiper-button-next, .blog .slider_sm .swiper-button-prev{
    top:39% !important;
  }
}

@media (max-width: 414px) {
  .product_table .product_detail {
    padding: 12px 7px;
  }
  .product_table .caption {
    font-size: 10px;
  }
  .product_table h3 {
    font-size: 12px;
  }
  .product_detail_main .product_table .col_5 {
    display: none !important;
  }
}

/* ----------------------------------------------------------------
	Retina CSS
-----------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991.98px),
  only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 991.98px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 991.98px),
  only screen and (min-device-pixel-ratio: 2) and (max-width: 991.98px),
  only screen and (min-resolution: 192dpi) and (max-width: 991.98px),
  only screen and (min-resolution: 2dppx) and (max-width: 991.98px) {
}
